@media (min-width: 1000px) {
  .destop_nav {
    max-width: 445px;
  }
}
@media (max-width: 709px) {
  .destop_nav {
    display: none;
  }
  .logo_section {
    width: 100%;
  }
  .about-text {
    text-align: center;
  }
}
